# Please follow the Layout Provided.

# Main Files
index.js @TheRealToxicDev
README.md @TheRealToxicDev

# Gatsby Stuff
gatsby-config.js @TheRealToxicDev

# Components
src/components/ @TheRealToxicDev


# Images
src/assets/ @TheRealToxicDev


# Main Docs
content/index.md @TheRealToxicDev

# Styling
darkmode.css @TheRealToxicDev

# API
content/api/ @TheRealToxicDev


# Libraries
content/libraries/ @TheRealToxicDev


# Resources
content/resources/ @ChillCordDev


# Server
content/server/ @TheRealToxicDev


# Staff
content/staff/ @TheRealToxicDev
