content/index.md @ChillCordDev

content/api/@intro.mdx @ChillCordDev
content/api/user.mdx @ChillCordDev
content/api/bot.mdx @ChillCordDev
content/api/votes.mdx @ChillCordDev

content/resources/ratelimits.mdx @ChillCordDev
